<app-header></app-header>

<main id="contact">
  <div class="bg-banner">
    <div class="jumbotron  jumbotron-fluid">
      
      
        <div class="row m-0">
          <div class="col-md-8">
            <div class=" container middle  text-center ">
              <h1 class="display-4 first-tittle">Our Technology</h1>
              <h3>Together with our game creators, we push technology forward to deliver the future of play</h3>
              <p class="lead">PHOTOGRAPHY</p>

            <p>With our unmatched IP, our creativity and our unique relationship with hundreds of millions of players around the world – Electronic Arts 
              is striving to lead the way with ground-breaking experiences.
               Our aim is to push industry boundaries, exceed player expectations and blur the lines between games, entertainment and reality.</p>
          </div>
        </div>
        <a class="btn btn-outline-secondary text-white view-btn" href="page2.html" role="button">View More</a>
      </div>
    </div>
  </div>
  </main>