.first-tittle {
    letter-spacing: 0.1em;
    font-size: 70px;
  }
  .lead {
    letter-spacing: 0.55em;
  }
  .jumbotron {
    background-image: url(https://images3.alphacoders.com/106/thumb-1920-1065466.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  main {
    font-family: "Cinzel", serif;
    color: white;
    letter-spacing: 3px;
  }
  .middle {
    position: absolute;

  }
  .form-group  input {
    background-color: #0000002f !important;
    color: white;
    
  }