<app-header></app-header>

<main id="contact">
  <div class="bg-banner">
    <div class="jumbotron  jumbotron-fluid">
      <div class="row mr-0">
        <div class="col-12 col-sm-8 col-md-3 formclass ml-auto">
          <form>
            <div class="form-group ">
              <input type="text" class="form-control" id="exampleInputText" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputText" placeholder="Last Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1" >
                <option>Georgia</option>
                <option>Portugal</option>
                <option>Spain</option>
                <option>Sweden</option>
                <option>United States</option>
              </select>
            </div>
              <div class="form-check mb-3 mt-4">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  Remember me
                </label>
              </div>
            <button type="submit" class="btn btn-outline-light submit-btn mb-2 mt-2">Submit</button>
          </form>
        </div>
      </div>
      
      
       




    </div>
  </div>
  

  
  </main>