<app-header></app-header>

<main id="home">
 
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
   
    <div class="carousel-inner" >
   
      <div class="carousel-item active"  data-interval="100">
        <img class="slider-img " src="https://wallpaperaccess.com/full/1507729.jpg" alt="First slide" >
      </div>
      <div class="carousel-item "  data-interval="100">
        <img class="slider-img " src="https://images3.alphacoders.com/106/thumb-1920-1065466.png" alt="Second slide" >
      </div>
      <div class="carousel-item "   data-interval="100">
        <img class="slider-img " src="https://wallpapercave.com/wp/wp7306896.jpg" alt="Third slide" >
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <div class="  container middle  text-center ">
      <h1 class=" first-tittle">POPULAR GAMES</h1>
      <a class="btn btn-secondary text-white view-btn" href="page2.html" role="button">View All</a>
    </div>
  </div>
</main>
<main id="games" class="game-section">
  <!-- Page Content -->
<div class="container"  id="game-box">
  <h1 class="font-weight-light text-center text-lg-center mb-4">Popular Games</h1>
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-6" id="test">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" id="test1" src="https://ubistatic19-a.akamaihd.net/ubicomstatic/ru-ru/global/game-info/fc6-game_info-boxart-keyart-02-348x434-v1_mobile_362807.jpg?imwidth=360" alt="">
          </a>
        </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://ubistatic19-a.akamaihd.net/ubicomstatic/ru-ru/global/game-info/pop-remake-boxart-keyart-02-560x698-v2-logo_mobile_363264.jpg?imwidth=360" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://ubistatic19-a.akamaihd.net/ubicomstatic/ru-ru/global/game-info/ac-teal-game_info-boxart-eivor-02-348x434-v2_361688.jpg?imwidth=360" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://ubistatic19-a.akamaihd.net/ubicomstatic/ru-ru/global/game-info/wdl-gameinfo-boxshot_art-ubinew-02-348x434_350637.jpg?imwidth=360" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://ubistatic19-a.akamaihd.net/ubicomstatic/ru-ru/global/game-info/agos-search_363271.jpg?imwidth=360" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://ubistatic19-a.akamaihd.net/ubicomstatic/ru-ru/global/game-info/rr_vignette_ubicom_363243.png?imwidth=360" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://ubistatic19-a.akamaihd.net/ubicomstatic/ru-ru/global/game-info/ifr-boxart-keyart-01-560x698-v2-logo_350472.jpg?imwidth=360" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://www.activision.com/content/dam/atvi/activision/atvi-touchui/activision/home/assets/cod-mw.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://www.activision.com/content/dam/atvi/activision/games/crash/crash-bandicoot-n-sane-trilogy/overview/crash_remastered_agnostic_boxart.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://www.activision.com/content/dam/atvi/activision/games/prototype/prototype-biohazard-bundle/overview/Prototype_BNDL_ATVI_225x278.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://www.activision.com/content/dam/atvi/activision/atvi-touchui/activision/home/assets/cod-wwii.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://www.activision.com/content/dam/atvi/activision/games/tony-hawk/tony-hawk-pro-skater/overview/TonyHawkPro_BoxArt.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://ubistatic19-a.akamaihd.net/ubicomstatic/ru-ru/global/buy-now/grb_packshot_stadia_349136.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://www.activision.com/content/dam/atvi/activision/games/skylanders/skylanders-spyros-adventure/overview/SkylandersSSA_BoxArt.jpg" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://www.activision.com/content/dam/atvi/activision/games/call-of-duty/call-of-duty-black-ops-3/overview/Boxart.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://www.activision.com/content/dam/atvi/activision/atvi-touchui/activision/home/assets/ctr-atvi_225x278.jpg" alt="">
          </a>
    </div>
  </div>

</div>
<!-- /.container -->
</main>
<main id="about">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
   
    <div class="carousel-inner" >
   
      <div class="carousel-item active"  data-interval="100">
        <img class="slider-img " src="https://wallpaperaccess.com/full/1507729.jpg" alt="First slide" >
      </div>
      <div class="carousel-item "  data-interval="100">
        <img class="slider-img " src="https://images3.alphacoders.com/106/thumb-1920-1065466.png" alt="Second slide" >
      </div>
      <div class="carousel-item "   data-interval="100">
        <img class="slider-img " src="https://wallpapercave.com/wp/wp7306896.jpg" alt="Third slide" >
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <div class="  container middle  text-center ">
      <h1 class=" first-tittle">POPULAR GAMES</h1>
      <a class="btn btn-secondary text-white view-btn" href="page2.html" role="button">View All</a>
    </div>
  </div>
</main>
<main id="books">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
   
    <div class="carousel-inner" >
   
      <div class="carousel-item active"  data-interval="100">
        <img class="slider-img " src="https://wallpaperaccess.com/full/1507729.jpg" alt="First slide" >
      </div>
      <div class="carousel-item "  data-interval="100">
        <img class="slider-img " src="https://images3.alphacoders.com/106/thumb-1920-1065466.png" alt="Second slide" >
      </div>
      <div class="carousel-item "   data-interval="100">
        <img class="slider-img " src="https://wallpapercave.com/wp/wp7306896.jpg" alt="Third slide" >
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <div class="  container middle  text-center ">
      <h1 class=" first-tittle">POPULAR GAMES</h1>
      <a class="btn btn-secondary text-white view-btn" href="page2.html" role="button">View All</a>
    </div>
  </div>
</main>
<main id="contact">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
   
    <div class="carousel-inner" >
   
      <div class="carousel-item active"  data-interval="100">
        <img class="slider-img " src="https://wallpaperaccess.com/full/1507729.jpg" alt="First slide" >
      </div>
      <div class="carousel-item "  data-interval="100">
        <img class="slider-img " src="https://images3.alphacoders.com/106/thumb-1920-1065466.png" alt="Second slide" >
      </div>
      <div class="carousel-item "   data-interval="100">
        <img class="slider-img " src="https://wallpapercave.com/wp/wp7306896.jpg" alt="Third slide" >
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <div class="  container middle  text-center ">
      <h1 class=" first-tittle">POPULAR GAMES</h1>
      <a class="btn btn-secondary text-white view-btn" href="page2.html" role="button">View All</a>
    </div>
  </div>
</main>



<footer class="page-footer  font-small ">
  <div class="container icons">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb  mx-2">
          <i class="fab fa-skype"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-fb  mx-2">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-2">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating  btn-gplus mx-2 ">
          <i class="fab fa-instagram "></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright text-center py-2  text-white">© 2050 Created On <span class="footertext"> M A R S </span> By
    Humans
  </div>
</footer>



